@charset "utf-8";

/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* normalize */
@import "normalize.css";

/* common styles */
body .nav-overlay {
    transition: all 0.3s ease-in-out;
}
body.active .nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: -100px;
    background: rgba(34, 68, 151, 0.7);
    z-index: 1010;
}
.section-title, .title, .count-number {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.form-control {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.section-padding, .section-padding-top {
    padding-top: 18rem;
}
.section-padding, .section-padding-bottom {
    padding-bottom: 18rem;
}
.section-title, .title {
    letter-spacing: -0.03em;
    color: var(--black); 
}
.section-title {
    font-size: 5.6rem;
    line-height: 6rem;
}

.title {
    font-size: 36px;
    line-height: 44px;
}

.section-title-wrapper {
    padding-bottom: 4.8rem;
}
.section-title-wrapper.single {
    text-align: center;
}
.section-head-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-head-group .title-box {
    flex: 0 0 70%;
    max-width: 70%;
}
.section-head-group.description {
    align-items: flex-end;
}
/* .section-head-group.description .title-box {
    flex: 0 0 50%;
    max-width: 50%; 
} */
.section-head-group.description .section-title {
    margin-bottom: 2.4rem;
}

.text {
    font-size: 18px;
    line-height: 32px;
}
.box-btn {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1.2rem 2rem;  
    border-radius: .5rem;
    border: 2px solid var(--blue);
    display: inline-block;
}
.box-btn.fill {
    background-color: var(--blue);
    color: var(--white);
}
.box-btn:not(.fill) {
    color: var(--blue);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.box-btn:not(.fill):hover {
    background-color: var(--blue);
    color: var(--white);
}

.count-number {
    font-size: 64px;
    line-height: 60px;
    letter-spacing: -0.05em;
}

.carousel .owl-nav button.owl-next, .carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    transform        : translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 5.8rem;
    height: 5.8rem;
    line-height: 0.8;
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--gray);
    transition: border 0.3s ease-in-out;
}
.carousel .owl-nav button.owl-next:hover, .carousel .owl-nav button.owl-prev:hover {
    border: 2px solid var(--blue);
}
.carousel .owl-nav button.owl-next img, .carousel .owl-nav button.owl-prev img {
    width: 10px;
}
.carousel .owl-nav button.owl-next {
    right: -9rem;
}
.carousel .owl-nav button.owl-prev {
    left: -9rem;
}

/* customize checkbox design */
.custom-checkbox-wrapper {
    text-align: left;
    width: 100%;
}
.custom-checkbox-wrapper .form-check {
    padding-left: 0;
}
.custom-checkbox-wrapper .form-check:not(:last-child) {
    margin-bottom: 1.2rem;
}
.custom-checkbox-wrapper .form-check input[type="checkbox"], .custom-checkbox-wrapper .form-check input[type="radio"] {
    position: absolute;
    opacity: 0;
    margin: 0;
    display: inline-block;
}
.custom-checkbox-wrapper .form-check label {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    padding-left: 3rem;
}
.custom-checkbox-wrapper .form-check input[type="checkbox"] + label, .custom-checkbox-wrapper .form-check input[type="radio"] + label {
    position: relative;
    cursor: pointer;
}
.custom-checkbox-wrapper .form-check input[type="checkbox"] + label::before,
.custom-checkbox-wrapper .form-check input[type="radio"] + label::before {
    content: "";
    margin-top: .6rem;
    display: inline-block;
    vertical-align: text-top;
    width: 1.8rem;
    height: 1.8rem;
    background: transparent;
    border: 2px solid var(--black);
    border-radius: 3px;
    position: absolute;
    left: 0;
}
.custom-checkbox-wrapper .form-check input[type="checkbox"]:checked + label::before, .custom-checkbox-wrapper .form-check input[type="radio"]:checked + label::before {
    background: var(--blue);
    border: 2px solid var(--blue);
}
.custom-checkbox-wrapper .form-check input[type="checkbox"]:checked + label::after, .custom-checkbox-wrapper .form-check input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: .4rem;
    top: 1.4rem;
    background: var(--white);
    width: .2rem;
    height: .2rem;
    box-shadow: 2px 0 0 var(--white), 4px 0 0 var(--white), 4px -2px 0 var(--white), 4px -4px 0 var(--white), 4px -6px 0 var(--white), 4px -8px 0 var(--white);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media (min-width: 1920px) {
    .container {
        max-width: 1415px;
    }
}

@media(max-width: 575.98px) {
    .container, .container-fluid {
        padding-left: 32px;
        padding-right: 32px;
    }
}
