@charset "utf-8";

/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* normalize */
@import "normalize.css";

/* common styles */
.section-title, title, .form-control, .count-number {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.section-padding, .section-padding-top {
    padding-top: 18rem;
}
.section-padding, .section-padding-bottom {
    padding-bottom: 18rem;
}
.section-title, .title {
    letter-spacing: -0.03em;
    color: var(--black); 
}
.section-title {
    font-size: 5.6rem;
    line-height: 6rem;
}

.title {
    font-size: 36px;
    line-height: 44px;
}

.section-title-wrapper {
    padding-bottom: 4.8rem;
}
.section-title-wrapper.single {
    text-align: center;
}
.section-head-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-head-group .title-box {
    flex: 0 0 70%;
    max-width: 70%;
}
.section-head-group.description {
    align-items: flex-end;
}
/* .section-head-group.description .title-box {
    flex: 0 0 50%;
    max-width: 50%; 
} */
.section-head-group.description .section-title {
    margin-bottom: 2.4rem;
}

.text {
    font-size: 18px;
    line-height: 32px;
}
.box-btn {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1.2rem 2rem;  
    border-radius: .5rem;
    border: 2px solid var(--blue);
    display: inline-block;
}
.box-btn.fill {
    background-color: var(--blue);
    color: var(--white);
}
.box-btn:not(.fill) {
    color: var(--blue);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.box-btn:not(.fill):hover {
    background-color: var(--blue);
    color: var(--white);
}

.count-number {
    font-size: 64px;
    line-height: 60px;
    letter-spacing: -0.05em;
}



@media (min-width: 1920px) {
    .container {
        max-width: 1415px;
    }
}
