.countdowns {
    background-image: url(../images/global/count-down-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 10rem 0;
}
.countdown-wrapper {
    color: var(--white);
    display: inline-block;
    text-align: left;

}
.countdown-wrapper p {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 4px;
}


/* ===== box countdonw ===== */
.my-courses {
    padding-top: 5.8rem;
    padding-bottom: 5.8rem;
    border-bottom: 1px solid var(--gray);
}
/* .my-courses .nav {
    display: initial;
} */
/* .countdown-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} */
.countdown-box-wrapper button {
    border: 0;
    background-color: transparent;
    width: 100%;
}
.countdown-box-wrapper .row {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}
.countdown-box-wrapper .row >* {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.countdown-box-wrapper .countdown-box-inner {
    /* width: 14rem; */
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--gray);
    padding: 2.2rem 2rem;
    text-align: center;
}
.countdown-box-wrapper .count-number {
    color: var(--blue);
    margin-bottom: 4px;
}
.countdown-box-wrapper p {
    font-size: 2rem;
    line-height: 3.2rem;
}


/* ===== responsive start ===== */
@media (max-width: 575.98px) {
    .my-courses {
        padding-top: 3.2rem;
        padding-bottom: 5.8rem;
    }
    .countdown-box-wrapper .row {
        margin-top: -1.5rem;
        margin-bottom: -1.5rem;
    }
    .countdown-box-wrapper .row>* {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    /* .countdown-box {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    } */
    .countdowns {
        padding: 6rem 0;
    }
    .countdowns .container {
        padding-left: 7.4rem;
        padding-right: 7.4rem;
    }
    .countdown-wrapper p {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}