.search-wrapper {
    border: 2px solid var(--light-gray);
    border-radius: 1rem;
    overflow: hidden;
}
.search-wrapper .form-control {
    font-size: 1.7rem;
    line-height: 2.4rem;
    color: var(--black);
    border: 0;
    border-radius: 0;
    padding: 2.4rem 2.4rem;
    transition: border 0.s ease-in-out;
}
/* .search-wrapper .form-control:hover {
    border: 2px solid var(--dark-gray);
} */
.search-wrapper .form-control::placeholder {
    color: var(--gray-1);
}
.search-wrapper button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    padding-right: 2.4rem;
}
.search-wrapper button img {
    max-width: 24px;
}


.left-control-box {
    /* border-right: 1px solid var(--gray); */
    padding: 5rem 5.8rem 7rem 3.2rem;
}
.left-control-box .row:not(:last-of-type) {
    margin-bottom: 4rem;
}
.left-control-box h4 {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.left-control-box h4.search-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 3.2rem;
}


.courses-qualification-content {
    padding: 5rem 3.2rem 7rem 5.8rem;
    border-left: 1px solid var(--gray);
}
.courses-qualification-content .row {
    margin-top: -2rem;
    margin-bottom: -2rem;
}
.courses-qualification-content .qc-card-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* ===== responsive start ===== */
@media (max-width: 575.98px) {
    .left-control-box {
        padding: 5rem 3.2rem 7rem;
        position: relative;
    }
    .courses-qualification-content {
        padding: 5rem 0 7rem;
        border-left: 0;
    }
    .title-filter-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .filter-btn-box {
        flex: 0 0 62px;
        max-width: 62px;
    }
    .filter-btn {
        display: inline-block;
        border: 2px solid var(--gray-4);
        border-radius: 1rem;
        padding: 1rem 1.2rem;
    }
    .filter-btn img {
        max-width: 24px;
    }

    /* fixed fillter box */
    .fixed-left-control-inner {
        position: fixed;
        top: 0;
        right: -411px;
        max-width: 411px;
        width: 100%;
        background: var(--white);
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1090;
        transition: right .3s ease-in-out;
    }
    .fixed-left-control-wrapper.active .fixed-left-control-inner {
        right: 0;
    }
    .fixed-left-control-wrapper .filter-box-overaly {
        position: fixed;
        top: 0;
        right: 0;
        /* left: 100%; */
        bottom: 0;
        background: rgba(34, 68, 151, 0.7);
        z-index: 1090;
        transition: left .2s ease-in-out;
    }
    .fixed-left-control-wrapper.active  .filter-box-overaly {
        left: 0;
    }
    .filter-close-btn {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        border: 0;
        background-color: transparent;
        z-index: 1090;
    }
}



