.search-wrapper {
    border: 2px solid var(--light-gray);
    border-radius: 1rem;
    overflow: hidden;
}
.search-wrapper .form-control {
    font-size: 1.7rem;
    line-height: 2.4rem;
    color: var(--black);
    border: 0;
    border-radius: 0;
    padding: 2.4rem 2.4rem;
    transition: border 0.s ease-in-out;
}
/* .search-wrapper .form-control:hover {
    border: 2px solid var(--dark-gray);
} */
.search-wrapper .form-control::placeholder {
    color: var(--gray-1);
}
.search-wrapper button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    padding-right: 2.4rem;
}
.search-wrapper button img {
    max-width: 24px;
}


.left-control-box {
    /* border-right: 1px solid var(--gray); */
    padding: 5rem 5.8rem 7rem 3.2rem;
}
.left-control-box .row:not(:last-of-type) {
    margin-bottom: 4rem;
}
.left-control-box h4 {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.left-control-box h4.search-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 3.2rem;
}


.courses-qualification-content {
    padding: 5rem 3.2rem 7rem 5.8rem;
    border-left: 1px solid var(--gray);
}
.courses-qualification-content .row {
    margin-top: -2rem;
    margin-bottom: -2rem;
}
.courses-qualification-content .qc-card-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
}