.footer {
    padding-top: 8.2rem;
    background-image: url(../images/footer/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--white);
}
.footer .row:not(:first-of-type):not(:last-of-type) {
    padding: 5.2rem 0 7.4rem;
}
.footer-logo-wrapper img {
    max-width: 33.6rem;
    /* max-width: 12rem; */
    width: 100%;
}
.footer-info-box p {
    max-width: 57.5rem;
    width: 100%;
}

.footer-title h5 {
    font-size: 2.4rem;
    line-height: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
    color: inherit;
}
.footer-contact-box h5 {
    margin-bottom: 2.2rem;
}
.footer-contact-box ul li {
    display: flex;
}
.footer-contact-box ul li .icon {
    flex: 0 0 14px;
    max-width: 14px;
    margin-right: 1.8rem;
}
.footer-contact-box ul li:not(:last-child) {
    margin-bottom: 1.8rem;
}
.footer-contact-box p, .copyright p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: inherit;
    display: block;
}

.copyright {
    padding: 3rem 0 4.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright .gray-round {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #C1C1C1;
    margin: 0 1.8rem;
}

/* social icon */
.social-wrapper {
    padding-bottom: 1rem;
}
.social-wrapper ul {
    display: inline-flex;
}
.social-wrapper ul li:not(:last-child) {
    margin-right: 3.2rem;
}
.social-wrapper ul li a {
    display: inline-block;
    max-width: 28px;
}


/* ===== responsive start ===== */
@media (max-width: 575.98px) {
    .footer {
        padding-top: 4.8rem;
    }
    .footer-logo-wrapper img {
        max-width: 20.8rem;
        width: 100%;
    }
    .footer-title h5 {
        font-size: 1.8rem;
    }
    .footer-contact-box p {
        font-size: 1.5rem;
    }
    .copyright p {
        font-size: 1.2rem;
    }
    .copyright .gray-round {
        width: 4px;
        height: 4px;
        margin: 0 .8rem;
    }
    .footer .row:not(:first-of-type):not(:last-of-type) {
        padding: 4.2rem 0 4.2rem;
    }
    .copyright {
        padding: 2.4rem 0 2.4rem;
        border-top: 1px solid rgba(255, 255, 255, 0.12);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-wrapper {
        padding: 4.2rem 0 3.2rem;
    }
    .social-wrapper ul li a {
        max-width: 20px;
    }
    .social-wrapper ul li:not(:last-child) {
        margin-right: 2.4rem;
    }
}