.my-profile {
    padding-top: 9.2rem;
}
.my-profile .my-profile-box {
    max-width: 45rem;
    width: 100%;
}
.my-profile .profile-wapper {
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
}
.my-profile .profile-pic {
    margin-right: 4rem;
}
.my-profile .profile-pic img {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}
/* .my-profile .profile-wapper .edit-profile-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: block;
} */
.my-profile .profile-content ul li:not(:last-child) {
    margin-bottom: 4.8rem;
}
.my-profile .profile-content span {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 4x;
    display: block;
}
.my-profile .profile-content p {
    font-size: 1.8rem;
    line-height: 2.2rem;
}


/* edit profile page */
.edit-profile-page {
    padding-top: 4.2rem;
}
.edit-profile-page .container {
    max-width: 536px;
}
.upload-picture {
    text-align: center;
}
.upload-picture img {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}
input[type="file"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.upload-picture span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 1rem;
    color: #141414;
    display: block;
}
.upload-picture .upload-picture-inner {
    margin-bottom: 4.8rem;
}
.upload-picture .edit-icon {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: var(--blue);
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 75%;
    right: 5.5%;
}
.upload-picture .edit-icon svg {
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: .7rem;
}
.upload-picture .edit-icon svg path {
    fill: #ffffff;
}
.upload-picture label {
    cursor: pointer;
    position: relative;
}
.edit-profile-page .input-field-wrapper>* {
    margin-bottom: 2.4rem;
}
.submit-btn-box.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 991.98px) {
    .my-profile .section-title-wrapper {
        padding-top: 5rem;
    }
}
@media (max-width: 767.98px) {
    .my-profile {
        padding-top: 3.2rem;
    }
    .my-profile .profile-pic img, .upload-picture img {
        width: 120px;
        height: 120px;
    }
    .upload-picture .edit-icon {
        top: 72%;
    }
    .my-profile .profile-content ul li:not(:last-child), .my-profile .profile-content ul li:last-child {
        margin-bottom: 32px;
    }
    .my-profile .profile-content span {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 4px;
    }
    .my-profile .profile-content p {
        font-size: 15px;
        line-height: 19px;
    }
}
@media (max-width: 575.98px) {
    .section-head-group .title-box {
        flex: 0 0 60%;
        max-width: 60%;
        margin-bottom: 0;
    }

    .upload-picture {
        text-align: left;
    }
}
