:root {
    --white: #ffffff;
    --black: #151515;
    --red: #ED1C24;
    --blue: #224497;
    --gray: #e3e3e3;
    --dark-gray: #333333;
    --light-gray: #ECECEC;
    --gray-1: #6F6F6F;
    --gray-4: #BDBDBD;
    --green: #219653;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    position: relative;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
}
ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
	margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
}
a:hover, a:focus, a:active, a:focus-visible {
    outline: none;
}
/* --input and button type focus & outline style-- */
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, select:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.btn.focus, .btn:focus, button:focus, button:focus-visible {
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}


@media (max-width: 1919.98px) {
    html {
        font-size: 54%;
    }
}
@media (max-width: 1399.98px) {}
@media (max-width: 1199.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 767.98px) {}
@media(max-width: 575.98px) {
    html {
        font-size: 62.5%;
    }
}

