.qc-card-wrapper .card {
    border-radius: 1rem;
    border: 1px solid var(--gray);
    overflow: hidden;
}
.qc-card-wrapper .thumb-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0.65) 0%, rgba(23, 23, 23, 0) 52.87%);
}
.qc-card-wrapper .do-status-box {
    position: absolute;
    left: 2.4rem;
    top: 2.4rem;
    right: 2.4rem;
}
.qc-card-wrapper .do-status-inner, .qc-card-wrapper .meta-tag-inner, .qc-card-wrapper .cfen-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qc-card-wrapper .do-status-inner p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--white);
    font-weight: 700;
}
.qc-card-wrapper .do-status-inner p span {
    display: block;
    font-weight: 400;
}
.qc-card-wrapper .do-status-inner a {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    padding: 1rem 1.6rem;
    border-radius: .5rem;
    border: 1px solid #27AE60;
    background: rgba(39, 174, 96, 0.2);
    pointer-events: none;
}
.qc-card-wrapper .card-body {
    padding: 2.4rem;
}
.qc-card-wrapper .card-body .sub-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: .6rem;
}
.qc-card-wrapper .card-body .main-title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   min-height: 52px;
}
.qc-card-wrapper .meta-tag-box {
    padding: 3.2rem 0;
}
/* .qc-card-wrapper .meta-tag-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.qc-card-wrapper .meta-tag-inner .icon {
    width: 2rem;
}
.qc-card-wrapper .meta-tag-inner p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: var(--dark-gray);
    margin-top: 4px;
}
.qc-card-wrapper .cfen-wrapper {
    padding: 2.4rem;
    border-top: 1px solid var(--gray);
}
/* .qc-card-wrapper .cfen-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.qc-card-wrapper .cfen-inner h6 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
}
.qc-card-wrapper .cfen-inner p {
    font-size: 1.8rem;
    line-height: 2.2rem;
}


/* ===== cards row system ===== */
.courses-qualification-content .row {
    margin-top: -2rem;
    margin-bottom: -2rem;
}
.courses-qualification-content .qc-card-wrapper  {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* ===== responsive start ===== */
@media (max-width: 575.98px) {
    .qc-card-wrapper .do-status-box {
        left: 1.6rem;
        top: 1.6rem;
        right: 1.6rem;
    }
    .qc-card-wrapper .do-status-inner p, .qc-card-wrapper .meta-tag-inner p {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .qc-card-wrapper .do-status-inner a {
        display: inline-block;
        font-size: 1rem;
        padding: .8rem 1.2rem;
    }
    .qc-card-wrapper .card-body {
        padding: 1.8rem;
    }
    .qc-card-wrapper .card-body .main-title {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .qc-card-wrapper .meta-tag-box {
        padding: 2.8rem 0 1.2rem;
    }
    .qc-card-wrapper .cfen-inner h6, .qc-card-wrapper .cfen-inner p, .qc-card-wrapper .card-body .sub-title {
        font-size: 1.5rem;
    }
}
