.testmonialCard {
    border          : 1px solid var(--gray);
    border-radius   : 1rem;
    padding         : 5rem 4rem;
    max-width       : 45.3rem;
    margin          : auto;
}
.quoteIcon {
    width        : 4rem !important;
    height       : 4rem;
    display      : inline-block !important;
    margin-bottom: 2.1rem;
}
.testmonialCard .text {
    color         : var(--dark-gray);
    padding-bottom: 6rem;
}
.testmonialUser {
    display    : flex;
    align-items: center;
    border-top: 1px solid var(--gray);
    padding-top: 4rem;
}
.testmonialUser img {
    height       : 6rem;
    width        : 6rem;
    border-radius: 50%;
}
.testmonialUser h5 {
    font-weight   : bold;
    font-size     : 2rem;
    line-height   : 2.4rem;
    color         : var(--black);
    letter-spacing: -0.01em;
    padding-left  : 1.2rem;
    margin-bottom : .4rem;
}
.testmonialUser h6 {
    font-weight : normal;
    font-size   : 1.8rem;
    line-height : 2.2rem;
    color       : var(--dark-gray);
    padding-left: 1.2rem;
}





