.testmonialCard {
    border          : 1px solid var(--gray);
    border-radius   : 1rem;
    padding         : 5rem 4rem;
    max-width       : 45.3rem;
    margin          : auto;
}
.quoteIcon {
    width        : 4rem !important;
    height       : 4rem;
    display      : inline-block !important;
    margin-bottom: 2.1rem;
}
.testmonialCard .text {
    color         : var(--dark-gray);
    margin-bottom: 6rem;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5;
           line-clamp: 5; 
   -webkit-box-orient: vertical;
}
.testmonialUser {
    display    : flex;
    align-items: center;
    border-top: 1px solid var(--gray);
    padding-top: 4rem;
}
.testmonialUser img {
    height       : 6rem;
    width        : 6rem;
    border-radius: 50%;
}
.testmonialUser h5 {
    font-weight   : bold;
    font-size     : 2rem;
    line-height   : 2.4rem;
    color         : var(--black);
    letter-spacing: -0.01em;
    padding-left  : 1.2rem;
    margin-bottom : .4rem;
}
.testmonialUser h6 {
    font-weight : normal;
    font-size   : 1.8rem;
    line-height : 2.2rem;
    color       : var(--dark-gray);
    padding-left: 1.2rem;
}



/* ===== responsive start ===== */
@media (max-width: 575.98px) {
    .testmonialCard {
        padding: 2.4rem 2rem;
    }
    .quoteIcon {
        width: 2.4rem !important;
        height: 2.4rem;
        margin-bottom: 1.6rem;
    }
    .testmonialUser h5 {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-bottom: 0;
    }
    .testmonialUser h6 {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .testmonialCard .text {
        margin-bottom: 3.5rem;
    }
}





