.trainers-hero, .trainers-details {
    margin-top: 1.6rem;
}
.trainers-hero-inner {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
}
.trainers-hero-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4.8rem;
    right: auto;
    bottom: auto;
    padding: 0;
    text-align: left;
    color: var(--white);
}
.trainers-hero-content .section-title {
    color: inherit;
    margin-bottom: 1.2rem;
    max-width: 60rem;
    width: 100%;
}
.trainers-hero-content .text {
    max-width: 58rem;
    width: 100%;
}

.trainers-section .row {
    margin-top: -2rem;
    margin-bottom: -2rem;
}
.trainers-section .trainers-card-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* ===== details page ===== */
.trainers-details .image-wrapper {
    max-width: 64.3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--gray);
    overflow: hidden;
}
.trainers-details .content-wrapper .relation, .trainers-details .content-wrapper .organization {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: var(--blue);
}
.trainers-details .content-wrapper .relation {
    margin: 2rem 0 .8rem;
}
.trainers-details .content-wrapper .qualification-box {
    max-width: 39.4rem;
    width: 100%;
    background: rgba(34, 68, 151, 0.05);
    border-radius: 1rem;
    padding: 3.4rem;
    margin-top: 4.2rem;
}
.trainers-details .content-wrapper .qualification-box .qtitle-box {
    display: flex;
    align-items: center;
}
.trainers-details .content-wrapper .qualification-box .qtitle-box img {
    width: 24px;
    margin-right: .8rem;
}
.trainers-details .content-wrapper .qualification-box .qtitle-box h5, .trainers-details .content-wrapper .qualification-box p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--blue);
}
.trainers-details .content-wrapper .qualification-box .qtitle-box h5 {
    color: var(--blue);
}
.trainers-details .content-wrapper .qualification-box p {
    color: var(--drak-gray);
}
.trainers-details .content-wrapper .qualification-box p.education {
    margin: 1.2rem 0;
    max-width: 25.5rem;
    width: 100%;
}

.trainers-details .description {
    padding-top: 7.8rem;
}
.trainers-details .description p, .trainers-details .specialist p, .trainers-details .specialist h6 {
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: justify;
}
.trainers-details .description p {
    margin-bottom: 3.2rem;
}
.trainers-details .specialist h6 {
    font-weight: 700;
}


/* ===== responsive start ===== */
@media (max-width: 1919.98px) {
    /* trainers details */
   .trainers-details .content-wrapper {
       padding-left: 4.2rem;
   }

}
@media (max-width: 991.98px) {
     /* trainers details */
    .trainers-details .content-wrapper {
        padding-top: 2.4rem;
    }

}
@media (max-width: 575.98px) {
    .trainers-card-wrapper .card-body {
        min-height: auto;
    }
    .trainers-hero .container {
        padding-left:2.4rem;
        padding-right:2.4rem;
    }
    .testimonial .container:last-child {
        padding-left: 0;
        padding-right: 0;
    }
    .trainers-hero, .trainers-details {
        margin-top: 2.4rem;
    }
    .trainers-hero-content {
        left: 3.2rem;
        right: 3.2rem;
    }
    .trainers-hero-inner {
        min-height: 400px;
    }
    .trainers-hero-inner img {
        min-height: 400px;
        object-fit: cover;
        object-position: bottom right;
    }

    /* trainers details */
    .trainers-details .content-wrapper .relation, .trainers-details .content-wrapper .organization {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    .trainers-details .content-wrapper .qualification-box {
        padding: 2.4rem;
    }
    .trainers-details .description p, .trainers-details .specialist p, .trainers-details .specialist h6 {
        font-size: 1.5rem;
        line-height: 2.8rem;
    }
    .trainers-details .content-wrapper .qualification-box .qtitle-box h5, .trainers-details .content-wrapper .qualification-box p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}