.trainers-card-wrapper .card {
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--gray);
}
.trainers-card-wrapper .card-body {
    padding: 2.4rem;
    color: var(--black);
    min-height: 15.8rem;
}
.trainers-card-wrapper .card-body h5 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
}
.trainers-card-wrapper .card-body p {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.trainers-card-wrapper .card-body p.designation {
    margin: 1.2rem 0 0.6rem;
}


/* ===== responsive start ===== */
@media (max-width: 575.98px) {
    .trainers-card-wrapper .card-body {
        padding: 1.8rem;
    }
    .trainers-card-wrapper .card-body h5 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    .trainers-card-wrapper .card-body p {
        font-size: 1.5rem;
    }
}
@media (max-width: 375px) {
    .trainers-card-wrapper .card-body {
        min-height: 16.8rem;
    }
}
